<form #myForm="ngForm" (ngSubmit)="onsubmitofform(myForm.value)">
    <div class="row">
      <div class="col">Enter email :
        <input type="email" class="form-control" placeholder="enter email" [ngModel]="users.email" name="email" required>
      </div>
      <div class="col">Enter password :
        <input type="password" class="form-control" placeholder="password" [ngModel]="users.password" name="password" required>
      </div>
    </div><br>
    <button type="submit">submit</button>
  </form><br><br>
  <app-header></app-header>